<p id="notice"><%= notice %></p>

<h1>Forms</h1>

<table>
  <thead>
    <tr>
      <th>Form</th>
      <th>Acquired or disposed code</th>
      <th>Nature of ownership</th>
      <th>Code</th>
      <th>Shares</th>
      <th>Security title</th>
      <th>Direct or indirect code</th>
      <th>Form type</th>
      <th>Equity sqap invloved</th>
      <th>Transaction date</th>
      <th>Shares after</th>
      <th>Price per share</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.form_id %></td>
        <td><%= form.acquired_or_disposed_code %></td>
        <td><%= form.nature_of_ownership %></td>
        <td><%= form.code %></td>
        <td><%= form.shares %></td>
        <td><%= form.security_title %></td>
        <td><%= form.direct_or_indirect_code %></td>
        <td><%= form.form_type %></td>
        <td><%= form.equity_sqap_invloved %></td>
        <td><%= form.transaction_date %></td>
        <td><%= form.shares_after %></td>
        <td><%= form.price_per_share %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
